<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HEZZ.AL</title>
    <script src="https://kit.fontawesome.com/9176eba334.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

@RenderBody()

<div class="footer">
    <div class="row">
        <div class="col-sm-4 pl-5">
            <img src="img/logof.png" alt="Logo footer">
        </div>
        <div class="col-sm-4 text-center">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
        </div>
        <div class="col-sm-4 text-center">
            <div class="text-muted text-right">
                Heç bir hüquqlarımız qorunmur
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
@RenderSection("Scripts", required: false)

</html>

